.contacts{
    list-style: none;
    display:flex;
    justify-content: space-between;
}

.contact{
    flex:1 1 0px;
    display: flex;
    justify-content: center;
}

.svg-icon--bigger{
    max-width:10rem;
    min-width:5rem;
}