@use "./Contacts";
@use "./Navbar";
@use "./Project";
@use "./themes";
@use "./mixin";

// @font-face {
//     font-family:"Inter";
//     src: url("../assets/fonts/Inter/Inter-VariableFont.ttf") format("truetype");
// }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

#root {
  padding: 1rem;
  position: relative;
}

.section {
  margin: 1rem 0px;
  h1 {
    margin: 0.5rem 0px;
  }
}

.svg-icon {
  max-width: 1rem;
}

.anchor-link {
  text-decoration: none;
  cursor: pointer;
}

footer {
  text-align: center;
  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

@include mixin.themify(themes.$themes) {
  color: mixin.themed("text-color");
  background-color: mixin.themed("main-bg");

  .anchor-link {
    color: mixin.themed("text-color");
  }
  nav {
    background-color: mixin.themed("main-bg");
    border-bottom: 1px solid mixin.themed("text-color");
  }

  .nav {
    &-link {
      a {
        color: mixin.themed("text-color");
        &:visited {
          text-decoration: none;
        }
      }
    }

    &__btn {
      color: mixin.themed("text-color");
      fill: white;
    }
  }

  .project {
    background-color: mixin.themed("card-bg");

    &__tag {
      border: 2px solid mixin.themed("text-color");
    }

    &__btn {
      background-color: mixin.themed("main-bg");
      border: 2px solid mixin.themed("text-color");
      box-shadow: 0px 10px 15px rgba(mixin.themed("text-color"), 0.3);
      // box-shadow: 0px 5px 10px mixin.themed("text-color");
      &--live {
        color: mixin.themed("live-color");
        background-color: mixin.themed("live-bg");
      }
      &--source{
        color: mixin.themed("source-color");
        background-color: mixin.themed("source-bg");
      }
    }
  }

  .svg-icon {
    fill: mixin.themed("text-color");
  }

  #theme-switcher {
    fill: mixin.themed("live-color");
  }
}
