@use "./Contacts";
@use './Navbar';
@use './Project';
@use './themes';
@use "./mixin";


@font-face {
    font-family:"Inter";
    src: url("../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"Inter";
}

body{
    margin:1rem;
    min-height:100vh;

}

@include mixin.themify(themes.$themes) {

    background-color: mixin.themed("main-bg");
    
    .project{
        background-color: mixin.themed("card-bg");
    }

}
